* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    color: white;
    background-color: #9c9999;
    background-clip: text;
    -webkit-background-clip: text;
    color: #f0f0f0;
    text-shadow: 1px 1px 3px #555555;
    font-family: 'Spicy Rice', sans-serif;
}

#content {
    /* background-color: #cba367; */
    margin: auto;
    width: 50%;
    height: 10%;
    /* border: 0.3rem solid #a3752f; */
    margin-top: 1rem;
    text-align: center;
}

#message {
    color: #eca233;
    font-size: 1.9rem;
    font-style: italic;
    width: 100%;
    /* padding: 0.2rem; */
}

#main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}

#game-tally {
    display: grid;
    background-color: rgb(179, 160, 98);
    width: 12rem;
    height: 30rem;
    padding: 2rem;
    grid-column: 1 / 2;
    margin: auto;
    grid-template-rows: repeat(1fr * 5);
    border-radius: 1rem 4rem 1rem;
    border: 0.3rem solid #a3752f;
}

/* .tally {
    width: 7rem;
    height: 3rem;
    color: rgb(225, 220, 220);
    font-size: 1.3rem;
    border-radius: 0.5rem 0.5rem;
    background: radial-gradient(circle at 2rem 2rem, #a1e355, #559e02);
    box-shadow: inset 0px 2px 0px #b2f17f, 0px 6px 0px #3d6f0d;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.tally {
    width: 8rem;
    height: 4rem;
    color: rgb(225, 220, 220);
    font-size: 1.7rem;
    border-radius: 0.5rem 0.5rem;
    box-shadow: inset 0px 5px 0px #b2f17f, inset 0px -5px 0px #3d6f0d;
    /* background: rgb(44,160,202); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    border: 1.3rem solid rgb(179, 160, 98);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 550px;
    height: 550px;
    border-radius: 2rem;
    background-color: rgb(169, 164, 145);
    margin: auto;
    margin-bottom: 0.7rem;
    grid-column: 2 / 3;
}

.display-board {
    width: 100%;
    height: 100%;
    border-width: 1rem;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left,
            rgb(52, 100, 49),
            rgb(81, 118, 86));

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 0.4rem;
    background-color: rgb(81, 118, 86);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.4rem;

}

.tile {
    background-image: url("wood-grain.png");
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.3rem;
    font-size: 6rem;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

#game-name {
    margin: auto;
    font-size: 7rem;
    grid-column: 3 / 4;
    font-style: italic;
    color: rgb(135, 202, 33);
    text-shadow: 1px 1px 3px #26331c;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);

}

#start {
    display: block;
    color: white;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    background: radial-gradient(circle at 2rem 2rem, #7fc384, #000);
    font-size: 2rem;
    border: 0.2rem solid #987747;
    grid-column: 1 / 2;
    font-family: 'Spicy Rice', sans-serif;

}

#next-game {
    display: block;
    color: white;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    background: radial-gradient(circle at 2rem 2rem, #f3e5c9, #000);
    font-size: 2rem;
    border: 0.2rem solid #987747;
    grid-column: 3 / 4;
    font-family: 'Spicy Rice', sans-serif;

}


.scoreboard {
    padding: 1rem;
    width: 55rem;
    margin: 1.3rem;
    font-size: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: radial-gradient(circle at 2rem 2rem, #e9bb77, #bf9b7ba0);
    border: 0.5rem solid #987747;
    grid-column: 2 / 3;
}

table {
    width: 100%;
}

.titles {
    font-size: 1.4rem;
    text-align: center;
}

/* .titles :last-child {
    float: right;
} */

#player1,
#player2 {
    margin-left: 5rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    background-color: #e7c99c;
    width: 20rem;
    border: 0.1rem solid #987747;
}

#win1,
#win2 {
    font-size: 1.4rem;
    margin-right: 5rem;
    background-color: rgb(202, 164, 124);
    width: 15rem;
    /* height: 2.4rem; */
    border: 0.1rem solid #987747;
    text-align: center;
    color: #000;
}

/* .total {
    float: right;
    padding: 0.4rem;
    font-size: 1.2rem;
    color: rgb(81, 80, 80);
    background-color: #bf9b7ba0;
    width: 15rem;
    height: 2.4rem;
    border: 0.1rem solid #987747;
    text-align: center;
} */